<%= form_with(model: post, data: { controller: 'post-form', action: 'turbo:submit-end->post-modal#close_if_ok' }) do |form| %>
  <div class="px-4 pt-5 pb-4 sm:p-6 sm:pb-4">

    <% if form.object.errors.any? %>
      <div class="alert alert-error mb-6" role="alert">
        <div class="flex items-start justify-start">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="fill-current icon mr-4 mt-1 flex-no-shrink" role="img" aria-labelledby="f1yx75u7nv0lvn6ck4z10w7lksjmk2f">
            <title id="f1yx75u7nv0lvn6ck4z10w7lksjmk2f">Icons/close outline</title>
            <path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm1.41-1.41A8 8 0 1 0 15.66 4.34 8 8 0 0 0 4.34 15.66zm9.9-8.49L11.41 10l2.83 2.83-1.41 1.41L10 11.41l-2.83 2.83-1.41-1.41L8.59 10 5.76 7.17l1.41-1.41L10 8.59l2.83-2.83 1.41 1.41z">

            </path>
          </svg>

          <div>
            <h4 class="font-black text-sm uppercase tracking">
              <%= pluralize(form.object.errors.count, "error") %> prohibited this post from being saved:
            </h4>
            <ul>
              <% form.object.errors.full_messages.each do |message| %>
                <li><%= message %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :title %>
      <%= form.text_field :title, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :body %>
      <%= form.text_area :body, class: "form-control" %>
    </div>

  </div>
  <div class="bg-gray-50 rounded-b px-4 py-3 sm:px-6 mt-5 sm:mt-6 sm:grid sm:grid-cols-2 sm:gap-3 sm:grid-flow-row-dense">
    <%= form.button class: "w-full btn btn-primary sm:col-start-2" %>
    <%= link_to "Cancel", posts_url, "data-action": "click->post-modal#close", class: "mt-3 w-full btn btn-white sm:mt-0 sm:col-start-1" %>

  </div>
<% end %>

<% if post.persisted? %>
  <%= button_to 'Delete', post, class: "mt-3 w-full btn sm:mt-0 hover:bg-red-600 transition-all duration-500 ease-in-out", method: :delete, form: { data: {controller: "delete", action: 'submit->delete#confirm turbo:submit-end->delete#exit', "delete-confirm-message-value": "Are you sure?"} } %>
<% end %>

