<!-- Unable to use the turbo_frame_tag inside a table, see https://github.com/hotwired/turbo/issues/48 -->

<tr id="<%= post.tag_id %>" <%= "data-controller='fadeout'".html_safe if defined?(deleted) %>>
    
    <td class="px-6 py-4 whitespace-nowrap text-sm leading-5 text-cool-gray-900">
    <%= post.title %>
    </td>
    <td class="px-6 py-4 whitespace-nowrap text-sm leading-5 text-cool-gray-500">
    <%= post.body %>
    </td>
    <td class="px-6 py-4 whitespace-nowrap text-sm leading-5 text-cool-gray-500">
        <% if !defined?(deleted) %>
            <%= turbo_frame_tag post do %>
                <div data-controller="link">
                    <%= link_to 'Edit', edit_post_path(post), class: "float-right btn btn-secondary transition duration-500 ease-in-out hover:bg-green-700", data: { link_target: "link", action: "click->link#open", "turbo-frame": "modal" } %>
                </div>
            <% end %>
        <% else  %>
            <span class="text-red">Deleted</>
        <% end %>

        <% if notice %>
        <div class="fixed inset-x-0 top-0 flex items-end justify-right px-4 py-6 sm:p-6 justify-end z-30 pointer-events-none">
        <div data-controller="alert" class="max-w-sm w-full shadow-lg rounded px-4 py-3 rounded relative bg-green-400 border-l-4 border-green-700 text-white pointer-events-auto">
            <div class="p-2">
            <div class="flex items-start">
                <div class="ml-3 w-0 flex-1 pt-0.5">
                <p class="text-sm leading-5 font-medium">
                    <%= notice %>
                </p>
                </div>
                <div class="ml-4 flex-shrink-0 flex">
                <button data-action="alert#close" class="inline-flex text-white focus:outline-none focus:text-gray-300 transition ease-in-out duration-150">
                    <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"/>
                    </svg>
                </button>
                </div>
            </div>
            </div>
        </div>
        <% end %>

    </td>
</tr>