<% if notice %>
  <div class="flex items-center bg-blue-100 text-blue-600 text-sm justify-center font-bold px-4 py-3" role="alert">
    <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
      <path d="M12.432 0c1.34 0 2.01.912 2.01 1.957 0 1.305-1.164 2.512-2.679 2.512-1.269 0-2.009-.75-1.974-1.99C9.789 1.436 10.67 0 12.432 0zM8.309 20c-1.058 0-1.833-.652-1.093-3.524l1.214-5.092c.211-.814.246-1.141 0-1.141-.317 0-1.689.562-2.502 1.117l-.528-.88c2.572-2.186 5.531-3.467 6.801-3.467 1.057 0 1.233 1.273.705 3.23l-1.391 5.352c-.246.945-.141 1.271.106 1.271.317 0 1.357-.392 2.379-1.207l.6.814C12.098 19.02 9.365 20 8.309 20z"/>
    </svg>
    <p><%= notice %></p>
  </div>
<% end %>

<% if alert %>
  <div class="flex items-center bg-yellow-100 text-yellow-600 justify-center text-sm font-bold px-4 py-3" role="alert">
    <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
      <path d="M12.432 0c1.34 0 2.01.912 2.01 1.957 0 1.305-1.164 2.512-2.679 2.512-1.269 0-2.009-.75-1.974-1.99C9.789 1.436 10.67 0 12.432 0zM8.309 20c-1.058 0-1.833-.652-1.093-3.524l1.214-5.092c.211-.814.246-1.141 0-1.141-.317 0-1.689.562-2.502 1.117l-.528-.88c2.572-2.186 5.531-3.467 6.801-3.467 1.057 0 1.233 1.273.705 3.23l-1.391 5.352c-.246.945-.141 1.271.106 1.271.317 0 1.357-.392 2.379-1.207l.6.814C12.098 19.02 9.365 20 8.309 20z"/>
    </svg>
    <p><%= alert %></p>
  </div>
<% end %>


<div class="mt-8" data-controller="post-modal" data-post-modal-index-url-value="/posts" data-post-modal-focus-field-value="post_title" data-post-modal-prevent-default-action-opening="false">

  <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="-ml-4 -mt-2 flex items-center justify-between flex-wrap sm:flex-no-wrap">
      <div>
        <h2 class="max-w-6xl mx-auto mt-8 px-4 text-lg leading-6 font-medium text-cool-gray-900 sm:px-6 lg:px-8">
          Posts
        </h2>
      </div>
      <div>
        <span class="inline-flex rounded-md shadow-sm">
            <div data-controller="link">
              <%= link_to 'New Post', new_post_path, class: "btn btn-primary", data: { link_target: "link", action: "click->link#open", "turbo-frame": "modal" } %>
            </div>
        </span>
      </div>
    </div>
  </div>

  <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex flex-col mt-2">
      <div class="align-middle min-w-full overflow-x-auto shadow overflow-hidden sm:rounded-lg">
        <table class="min-w-full divide-y divide-cool-gray-200">
          <thead>
          <tr>
            <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-cool-gray-500 uppercase tracking-wider">Title</th>
            <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-cool-gray-500 uppercase tracking-wider">Body</th>
            <th colspan="1" class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-cool-gray-500 uppercase tracking-wider"></th>
          </tr>
          </thead>
          <tbody id="list" class="bg-white divide-y divide-cool-gray-200">

          <%= render partial: 'list' %>

          </tbody>
        </table>
      </div>
    </div>
  </div>

  <%= turbo_frame_tag "modal" do %>
  <% end %>

</div>

<div data-controller="popstate" data-popstate-match-links-value="new|edit"></div>